<div ui-content-for="title">
  <span>Resumo Mensal</span>
</div>

<div class="scrollable" ng-controller="resumo">  
  <div class="scrollable-content">
      
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
          
          <div class="form-group">
            <select class="form-control"
                    ng-options="mes.value as mes.label for mes in meses"
                    ng-model="mes"
                    ng-change="updateResumo()">
            </select>
          </div>
          
          <div class="form-group">
            <select class="form-control"
                    ng-options="ano as ano for ano in anos"
                    ng-model="ano">
                <option>Janeiro</option>
            </select>
          </div>
          
        <div>
            <b>Entradas:</b>
            <p style="color: #007aff">{{resumo.entrada | currency}}</p>

            <b>Saídas:</b>
            <p style="color: #d80b00">{{resumo.saida | currency}}</p>

            <b>Saldo:</b>
            <p style="color:{{resumo.saldo < 0 ? '#d80b00' :'#007aff'}}">{{resumo.saldo | currency}}</p>
        </div>
      </div>

    </div>

  </div>
</div>
